<div id="new-post-toolbar" class="border border-dark rounded shadow bg-secondary text-dark my-4 px-3 py-2 text-center">
	<a href="#" class="btn btn-secondary" onclick="openNewPost('text')"><i class="fas fa-pencil-alt"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-photo-post"><i class="fas fa-camera"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-quote-post"><i class="fas fa-quote-right"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-link-post"><i class="fas fa-link"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-chat-post"><i class="fas fa-comments"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-audio-post"><i class="fas fa-music"></i></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-video-post"><i class="fas fa-video"></i></a>
</div>
