<div id="new-post-toolbar" class="border border-dark rounded shadow bg-secondary text-dark my-4 px-3 py-2 text-center">
	<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#new-text-post"><ion-icon name="document" title="Text Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-photo-post"><ion-icon name="photos" title="Photo Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-quote-post"><ion-icon name="quote" title="Quote Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-link-post"><ion-icon name="link" title="Link Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-chat-post"><ion-icon name="chatboxes" title="Chat Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-audio-post"><ion-icon name="volume-high" title="Audio Post"></ion-icon></a>
	<a href="#" class="btn btn-secondary disabled" data-toggle="modal" data-target="#new-video-post"><ion-icon name="film" title="Video Post"></ion-icon></a>
</div>
