<div id="new-post-toolbar" class="border border-dark rounded shadow bg-secondary text-dark my-4 px-3 py-2">
	<a href="#" class="text-light" data-toggle="modal" data-target="#new-text-post">text</a>
</div>