<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap-tokenfield.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/popper.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/bootstrap-tokenfield.min.js"></script>
		<script src="/javascripts/twemoji.min.js"></script>
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow" role="navigation">
			<a class="navbar-brand" href="#">Dumblr</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto navbar-right">
					<li class="nav-item active"><a class="nav-link" href="/">Dashboard</a></li>
					<li class="nav-item"><a class="nav-link" href="/">blog</a></li>
					<li class="nav-item"><a class="nav-link" href="/settings">settings</a></li>
					<li class="nav-item"><a class="nav-link" href="/profile">profile</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-8">
