<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body style="background: no-repeat top/cover url('/uploads/<%=rndBack%>')">

		<div class="modal d-block" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" style="background: #fffd">
					<div class="modal-body">
						<% if (message) { %>
						<div class="alert alert-primary alert-dismissible fade show" role="alert">
							<%= message %>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div><% } %>
						<form id="login" action="/login" method="post">
							<h4>Log In</h4>
							<input type="text" class="form-control form-control-lg mb-2" name="username" autocomplete="username" placeholder="Username">
							<input type="password" class="form-control form-control-lg mb-2" name="password" autocomplete="current-password" placeholder="Password">
							<input type="submit" class="btn btn-block btn-primary mb-2" value="Log In"></input>
							<button type="button" class="btn btn-block btn-link" onclick="showRegister(); return false;">Register?</button>
						</form>
						<form id="register" action="/register" method="post" style="display: none;">
							<h4>Register an Account</h4>
							<input type="text" class="form-control form-control-lg mb-2" name="username" autocomplete="username" placeholder="Username">
							<input type="password" class="form-control form-control-lg mb-2" name="password" autocomplete="current-password" placeholder="Password">
							<input type="submit" class="btn btn-block btn-primary mb-2" value="Create Account"></input>
							<button type="button" class="btn btn-block btn-link" onclick="showLogin(); return false;">Log In?</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			function showLogin() {
				$('#register').fadeOut(100, function() { $('#login').fadeIn(100); });
			}
			function showRegister() {
				$('#login').fadeOut(100, function() { $('#register').fadeIn(100); });
			}
		</script>
	</body>
</html>