<%- include('partials/top') %>

<%- include('partials/post-new-toolbar') %>

<div id="posts">

<% if (posts.length == 0) { %>
<div class="post message">No posts. Follow someone, maybe?</div>
<% } %>

<%- include('partials/post-loop') %>

</div>

</div>
</div>
</div>

<div class="modal fade" id="new-text-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New text post</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/" method="post">
					<div class="form-group">
						<input type="text" name="title" class="form-control" placeholder="Title">
					</div>
					<div class="form-group">
						<textarea name="body-text" class="form-control" rows="16"></textarea>
					</div>
					<div class="form-group">
						<input type="text" name="tags" class="form-control form-control-sm form-control-tags" placeholder="Tags">
					</div>
					<input type="hidden" name="post-type" value="text">
					<input onclick="submitAndPush(this.parentNode); $('#new-text-post').modal('hide'); return false;" type="submit" value="Submit" class="btn btn-primary">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/javascripts/dialogs.js"></script>

<%- include('partials/bottom') %>