:root {
	--background: #10171e;
	--postback: #dbe3ea;
	--postfore: #2c3944;
	--messageback: #375069;
	--messagefore: #dbe3ea;
	--formback: #fbfbfb;
	--formfore: #2c3944;
	--formfield: #e4e6e8;
	--formfieldhot: #b8c0c7;
	--postwidth: 640px;
	--radius: 0.25em;
	--shadow: 0.25em 0.25em 0.5em #00000080;
}

body {
	background: var(--background);
	font-family: "Tahoma", "Arial", sans-serif;
	font-size: 11pt;
}

div.post {
}

div.post .padded, div.post p {
	padding: 0 1em;
}

div.message {
	background: var(--messageback);
	border-radius: var(--radius);
	color: var(--messagefore);
	text-align: center;
}

div.post a {
	text-decoration: none;
}

div.post hr {
	border: none;
	border-top: 1px solid var(--messageback);
}

div.post img {
	max-width: 100%;
}

.photo-single {
	max-width: initial;
	padding: 1em 0;
	width: 100%;
}

.avatar {
	vertical-align: middle;
}

.ava-side {
	width: 64px;
	height: 64px;
	position: absolute;
	left: calc(-0.5em - 64px);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.ava-24 {
	width: 24px;
	height: 24px;
}

.ava-32 {
	width: 32px;
	height: 32px;
}

.ava-64 {
	width: 64px;
	height: 64px;
}

.ava-128 {
	width: 128px;
	height: 128px;
}

.ava-150 {
	width: 150px;
	height: 150px;
}

a.reblog {
	margin-left: -14px;
}

div.ava-side-tail::before {
	content: ' ';
	width: 0;
	height: 0;
	display: block;
	background-size: contain;
	position: absolute;
	left: calc(-0.5em + 4px);
	margin-top: 1em;
	border-color: transparent;
	border-width: 10px;
	border-style: solid;
	border-right-color: #fff;
}

.reblog::before {
	background-image: url('/images/reblog.png');
	content: ' ';
	width: 16px;
	height: 16px;
	display: inline-block;
	background-size: contain;
	position: relative;
	top: 18px;
	left: 38px;
}

h3 {
	margin-top: 0;
	margin-bottom: 0.25em;
}
