body {
	background: #364758;
}

.emoji { height: 1.4rem; vertical-align: bottom; }


#new-post-toolbar .fas { font-size: 4rem; }
.nav-link { padding: 0; }
.nav-link .fas { font-size: 2rem; }

.photo-single {
	max-width: initial;
	padding: 1em 0;
	width: 100%;
}

.avatar {
	vertical-align: middle;
}

.ava-side {
	width: 64px;
	height: 64px;
	position: absolute;
	left: calc(-0.5em - 64px);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.ava-24 {
	width: 24px;
	height: 24px;
}

.ava-32 {
	width: 32px;
	height: 32px;
}

.ava-64 {
	width: 64px;
	height: 64px;
}

.ava-128 {
	width: 128px;
	height: 128px;
}

.ava-150 {
	width: 150px;
	height: 150px;
}

a.reblog {
	margin-left: -14px;
}

div.ava-side-tail::before {
	content: ' ';
	width: 0;
	height: 0;
	display: block;
	background-size: contain;
	position: absolute;
	left: calc(-0.5em + 4px);
	margin-top: 1em;
	border-color: transparent;
	border-width: 10px;
	border-style: solid;
	border-right-color: #fff;
}

.reblog::before {
	background-image: url('/images/reblog.png');
	content: ' ';
	width: 16px;
	height: 16px;
	display: inline-block;
	background-size: contain;
	position: relative;
	top: 18px;
	left: 38px;
}
